

<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">

		    <title>Buy Pharaoh Gaming PC Under ₹80000 Online | Ant PC </title>
	<meta name="description" content="Buy Best High-End Pharaoh Gaming PC Under ₹80000 Online in India. Powered By Intel Core i5 10th Generation Processor. Configure High-End CPU Computer For Gaming."/>
	<link rel="canonical" href="https://www.ant-pc.com/gaming-pc/pharaoh" />
	<meta name="robots" content="index, follow"/>

	<meta property="og:title" content="Buy Pharaoh Gaming PC Under ₹80000 Online | Ant PC "/>
	<meta property="og:image" content="https://www.ant-pc.com/assets/images/gaming/PHARAOH-BANNER.jpg"/>
	<meta property="og:site_name" content="Ant PC"/>
	<meta property="og:description" content="Buy Best HighEnd Pharaoh Gaming PC Under 80000 Online in India Powered By Intel Core i5 10th Generation Processor Configure HighEnd CPU Computer For Gaming"/>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@antpcsystems">
	<meta name="twitter:title" content="Buy Pharaoh Gaming PC Under ₹80000 Online | Ant PC ">
	<meta name="twitter:description" content="Buy Best High-End Pharaoh Gaming PC Under ₹80000 Online in India. Powered By Intel Core i5 10th Generation Processor. Configure High-End CPU Computer For Gaming.">
	 


		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Font Awesome -->

		<link rel="stylesheet" href="https://www.ant-pc.com/assets/2022-theme/css/style.css">

		
		<!-- Gogole verification Code-->
		<meta name="google-site-verification" content="ERR2k_cf446eZ9WAJ7zr3QG7qPjVx18RqQBO4UDLoiI" />

		<!-- Google Tag Manager --

		<!-- End Google Tag Manager -->

	</head>

	<body>
  <!-- Inner Banner sec ends -->
  
<section class="products-list-sec series-list-sec ">
    <div class="container-fluid container-fluid-cust">  

        <h2 class="lt-heading text-center">{{category}} Performance</h2>  
		<div class="row container">
				
                                        
                            <!-- Box starts -->
                            
                              <div class="col-lg-3 col-md-3 col-sm-12 container" style="margin-left: 560px;" data-aos="fade-up">
                                <div class="products-list-box">
                                    
                                        
                                    <div class="pList-box-heading">                     
                                      <h3> 
                                        <a href="">{{orderPc.name}}</a>
                                      </h3>
                                    </div>
                                    <div class="pList-box-img">
                                       <a href="">
                                        <img src="/images/{{orderPc._id}}.jpg" alt="Budget Gaming Pc ANT PC Pharaoh RL500" class="img-fluid">
                                      </a>
                                    </div>
                                    <div class="pList-box-points">
                                      <ul>
                                       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/001-processor.svg" alt="">{{orderPc.processor}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/motherboard.svg" alt="">{{orderPc.motherboard}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/002-ram.svg" alt="">{{orderPc.ram}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/003-graphics-card.svg" alt="">{{orderPc.graphics}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/004-hard-disk-drive.svg" alt="">{{orderPc.ssd}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/004-hard-disk-drive.svg" alt="">{{orderPc.hdd}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/004-hard-disk-drive.svg" alt="">{{orderPc.cabinet}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/004-hard-disk-drive.svg" alt="">{{orderPc.cooler}}</li>
                    			       <li><img src="https://www.ant-pc.com/workstation-assets/assets/images/icon-svg/004-hard-disk-drive.svg" alt="">{{orderPc.psu}}</li>
                                      </ul>
                                    </div>
                                    <div class="pList-box-price">
                                      <i class="fas fa-rupee-sign"></i>
                                      {{orderPc.price}}                                   </div>
                                    
                                
                                </div>
                              </div>
                            
                              <!-- Box ends -->
                                        
                           
                                
		</div>
		
		
		
</div>
</section>
<!-- -->

<!-- Contact info sec starts -->

<!-- Contact info sec ends -->

<!-- Footer sec starts -->

